# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Maven
target/

# Compiled class files
*.class

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Fichiers de config locale éventuels
*.env

# Fichiers vidéo
./media